{% extends "internal_layout.html" %}
{% block title %}User Profile{% endblock %}
{% block content %}
<div class="container mt-l" >
<br><br>
<h1 class="font-weight-bold">Hi, {{user_firstname}}</h1>
<br><br>
<p class="p-3 mb-2 bg-info text-white">Your transactions are listed below in this page. For analysis of your expenditure, go to Analysis Page. You can also take a look of future inflation projection in the Inflation Projection Page.</p>

<br><br>
<div>
<table id="transaction_table" class="table table-striped" width="100%" data-page-length="25" >
    <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[1] }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ transaction[3] }}</td>
                <td>{{ transaction[4] }}</td>
                <td><button type="button" class="btn btn-outline-success"><a href="{{url_for('edit_transactions',id=transaction[0])}}">Edit</a></button></td>
                <td><button type="button" class="btn btn-outline-danger"><a href="{{url_for('delete_transactions',id=transaction[0])}}">Delete</a></button></td>     
            </tr>
        {% endfor %}
    </tbody>
 </table>
</div>
<td>
    <button type="button" class="btn btn-outline-primary"><a href="{{url_for('add_individual_transaction')}}">Add Individual Transaction</a></button>
    <button type="button" class="btn btn-outline-success"><a href="{{url_for('add_excel_transactions')}}">Import Your Transactions from Excel (Only Support CSV files downloaded from Mint.com)</a></button>
    <button type="button" class="btn btn-outline-danger"><a href="{{url_for('delete_all_transactions')}}">Delete All Transaction</a></button>
</td>
<br><br>  
{% endblock %}
